@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@200;300&family=Raleway:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
 font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.logo {
  cursor: default;
  font-size: 28pt;
  margin-left: 20px;
}

.fa-bars-staggered {
  color: #fff;
}

.header-menuNav ul {
  display: flex;
  flex-direction: row;
  margin-left: -5px;
}

.header-menuItem {
  margin-left: 50px;
  list-style: none;
}

.header-menuItem a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 11pt;
}

.header-menuItem a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -5px;
  background-color: #000;
  transition: 0.3s;
}

.header-menuItem a:hover::after {
  width: 100%;
}

.login-btn {
  padding: 13px 28px;
  border-radius: 80px;
  font-size: 10pt;
  margin-right: 10px;
  cursor: pointer;
}

.signInBtn {
  background-color: #fff;
}

.signUpBtn {
  background-color: #000;
  color: #fff;
}

.heroContent-text {
  width: 400px;
  margin: 180px 210px;
}

.n1-app {
  justify-content: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 4px 10px;
  display: flex;
  width: 120px;
  margin-bottom: 10px;
  cursor: default;
}

.heroContent-text h1 {
  font-weight: 500;
  font-size: 28pt;
}

.heroContent-text p {
  margin-top: 10px;
  font-size: 10pt;
}

.heroContent-email {
  margin: -150px 210px;
}

.heroContent-email input[type='email'] {
  padding: 8px 50px 8px 20px;
  border-radius: 20px;
  margin-left: -4px;
  border: 1px solid;
  position: relative;
}

.heroContent-email input[type='email']:focus {
  outline: none;
}

.heroContent-email input[type='button'] {
  position: absolute;
  background-color: #000;
  color: #fff;
  margin-left: -30px;
  padding: 7px;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: pointer;
}

.heroContent img {
  position: absolute;
  width: 500px;
  margin: -230px 60rem;
}

.howWorks img {
  position: absolute;
  width: 800px;
  margin-top: -60px;
  margin-left: 10px;
}

.howWorks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: default;
  margin-top: 36rem;
}

.howWorks h1 {
  margin-left: 23px;
  font-size: 16pt;
}

.howWorks .cards{
  display: flex;
  padding: 40px;
  width: 80%;
}

.stepCard {
  font-size: 13pt;
  margin: 0 60px;
}

.stepCard div {
  position: relative;
  background-color: #000;
  color: #fff;
  font-size: 10pt;
  height: 20px;
  width: 20px;
  padding: 14px;
  border-radius: 50%;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.stepCard h4 {
  font-size: 14pt;
  margin-bottom: 6px;
}

.benefits {
  cursor: default;
}

.benefits-text {
  margin-top: 180px;
  margin-left: 18rem;
}

.benefits-text h1 {
  font-weight: 500;
  font-size: 24pt;
}

.benefits-text li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.benefits img {
  margin-top: -30rem;
  margin-left: 60rem;
}

.moneyImg {
  display: none;
}

.benefitsBtn {
  background-color: #000;
  color: #fff;
  padding: 13px 28px;
  border-radius: 80px;
  font-size: 10pt;
  margin-right: 10px;
  cursor: pointer;
}

.whyUs-mainText {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-left: 140px;
  width: 600px;
  width: 36rem;
  font-size: 14pt;
  padding: 10px;
}

.numericData {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  width: 86%;
  text-align: center;
  margin-top: 20px;
  margin-left: -10px;
}

.numericData article {
  width: 100%;
}

.numericData article h4 {
  padding: 8px;
  font-size: 18pt;
  margin: 0 30px;
}

.numericData article p { 
  font-size: 12pt;
}

.whyUs-list ul {
  position: absolute;
  margin: -170px 700px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.whyUs-list li {
  list-style: inside;
  border-right: 1px solid #ccc;
  font-size: 13pt;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.pricingText {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12pt;
  margin-top: 180px;
  gap: 10px;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0;
}

.planCard {
  width: 300px;
  height: 400px;
  list-style: inside;
  padding: 30px 20px;
}

.planText {
  font-size: 12pt;
  padding: 20px;
}

.planText h3 {
  font-size: 16pt;
  text-align: center;
}

.planText h5 {
  font-size: 12pt;
  text-align: center;
}

.price {
  font-size: 30pt;
  text-align: center;
}

.price label {
  font-size: 12pt;
}

.planText ul {
  margin-top: 40px;
  margin-left: 20px;
  list-style-image: url(img/check.png);
}

.planText ul li {
  padding-bottom: 10px;
}

.planCard input {
  padding: 14px;
  border-radius: 50px;
  margin-left: 8rem;
}

.basicPlan input, 
.premiumPlan input {
  background-color: #252525;
  color: #fff;
  border: 1px solid;
  cursor: pointer;
}

.standardPlan {
  background-color: #252525;
  color: #fff;
  border-radius: 10px;
  margin: 0 -100px;
}

.standardPlan input {
  background-color: #fff;
  color: #505050;
  border: 1px solid;
  cursor: pointer;
}

.userFeedback {
  background-color: #e9eaee;
  height: 410px;
  margin-top: 200px;
  margin-bottom: 100px;
}

.userFeedback h1 {
  position: absolute;
  margin: 70px 0 0 150px;
  font-size: 18pt;
  width: 300px;
  padding: 10px;
}

.userFeedback h1 i {
  position: absolute;
  font-size: 16pt;
  margin-top: -14px;
  margin-left: -25px;
}

.feedbackText {
  width: 400px;
  position: absolute;
  margin: 150px;
}

.feedbackText p:first-child {
  font-size: 11pt;
  margin-bottom: 10px;
}

.userInfo h6 {
  font-size: 12pt;
  margin-bottom: 8px;
  margin-left: 6px;
}

.starFeedback {
  display: flex;
  font-size: 14pt;
}

.starFeedback p {
  margin-left: 8px;
  margin-top: -4px;
}

.userFeedback img {
  margin-left: 530px;
  position: relative;
}

.fb2, .fb3, .fb4 {
  display: none;
}

.fb1.active {
  display: none;
}

.fb2.active, 
.fb3.active, 
.fb4.active {
  display: block;
}

.nextPrevButtons {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 320px 0 0 390px;
  font-size: 22pt;
}

.prevBtn {
  margin-right: 12px;
}

footer {
  background-color: #e9eaee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: -100px;
  padding: 20px 0 8px 10px;
}

.downloadInfo {
  font-size: 12pt;
  margin: 20px;
}

.downloadInfo h3 {
  margin-bottom: 15px;
}

.downloadInfo img {
  cursor: pointer;
  width: 300px;
}

.footerLinks a {
  font-size: 10pt;
  list-style: none;
  color: #000;
}

.footerLinks h4 {
  font-size: 11pt;
  margin-bottom: 6px;
}

.newsletter h4 {
  font-size: 11pt;
  margin-bottom: 20px;
}

.newsletter input:first-of-type {
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid;
}

.newsletter input:last-of-type {
  padding: 10px 12px 10px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -10px;
  border: 1px solid #000;
  color: #e9eaee;
  background-color: #000;
}

.newsletter input:focus {
  outline: none;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  margin-right: 70px;
}

.socialLinks h5 {
  font-size: 11pt;
}

.socialLinks i {
  cursor: pointer;
  margin-top: 8px;
  margin-left: 12px;
  font-size: 12pt;
}

@media screen and (max-width: 500px) {

  .header-menuNav {
    display: none;
  }
  
  .header-menuNav.displayed {
    border: 1px solid #000;
    padding: 10px;
    position: absolute;
    display: block;
    margin-left: 303px;
    margin-top: 125px;
  }

  #menu {
    display: flex;
    flex-direction: column;
  }

  .fa-bars-staggered {
    font-size: 18pt;
    margin-left: 200px;
    color: #000;
  }

  .loginZone {
    display: none;
  }
  
  .loginZone a input{
    background-color: transparent;
    color: #000;
    flex-direction: row;
    border: none;
    padding: 0;
    margin: 0 10px;
  }

  .loginZone.displayed {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 2px;
    display: flex;  
    position: absolute;
    margin-left: 300px;
    margin-top: 200px;
  }

  .heroContent {
    margin-left: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .heroContent-text {
    margin-left: 10px;
  }

  .heroContent-text h1 {
    font-weight: 500;
    font-size: 22pt;
    width: 300px;
  }
  
  .heroContent-text p {
    margin-top: 10px;
    font-size: 10pt;
    width: 300px;
  }

  .heroContent-email {
    width: 260px;
    margin-left: 20px;
  }
  
  .heroContent img {
    display: none;
  }

  .howWorks {
    margin-top: 300px;
  }

  .howWorks h1 {
    margin-left: 10px;
  }

  .howWorks img {
    display: none;
  }

  .howWorks .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;    
  }

  .stepCard div {
    margin-left: 120px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .benefits {
    cursor: default;
    margin-left: 50px;
  }
  
  .benefits-text {
    margin-top: 120px;
    margin-left: 4rem;
    width: 300px;
  }
  
  .benefits-text h1 {
    font-weight: 500;
    font-size: 22pt;
    text-align: center;
  }
  
  .benefits-text li {
    width: 300px;
  }

  .benefitsBtn {
    margin-left: 80px;
  }

  .benefits img {
    margin-top: -30rem;
    margin-left: 60rem;
    display: none;
  }

  .whyUs-mainText {
    margin-left: 20px;
    text-align: center;
  }

  .numericData {
    margin-left: 20px;
  }

  .whyUs-mainText h1 {
    text-align: center;
  }

  .whyUs-list ul {
    margin-left: 110px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .whyUs-list ul li:nth-child(odd) {
    border-left: 1px solid #ccc;
  }

  .pricing {
    margin-top: 380px;
  }

  .pricingText p {
    text-align: center;
    width: 400px;
    margin-left: 40px;
  }

  .plans {
    display: flex;
    justify-content: space-between;
  }
  
  .price {
    position: absolute;
    color: #fff;
    font-size: 16pt;
    margin-top: -60px;
    margin-left: -28px;
  }
  
  .planCard {
    background-color: #252525;
    width: 100px;
    height: 350px;
    border: 1px solid #252525;
    border-radius: 12px;
  }
  
  .planCard input {
    background-color: #252525;
    color: #fff;
    border: 1px solid;
  }

  .planText h3, 
  .planText h5 {
    margin-top: -10px;
    font-size: 10pt;
    margin-top: 20px;
    position: relative;
    color: #ccc;
  }

  .planText h3 {
    font-size: 16pt;
    margin-bottom: -20px;
  }
  
  .planText ul {
    font-size: 10pt;
    width: 120px;
    margin-left: -22px;
    margin-top: 20px;
    color: #fff;
  }

  .basicPlan {
    margin-left: 10px;
  }

  .basicPlan input {
    margin-left: -4px;
    margin-top: 60px;
  }

  .standardPlan input {
    margin-left: -2px;
    margin-top: -2px;
  }

  .premiumPlan input {
    margin-left: -2px;
    margin-top: 70px;
  }

  .premiumPlan {
    margin-right: 10px;
  }

  .standardPlan h3 {
    margin-left: -12px;
  }

  .premiumPlan h3 {
    margin-left: -12px;
  }
}