@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@200;300&family=Raleway:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
 font-family: 'Raleway', sans-serif;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.logo {
  cursor: default;
  font-size: 28pt;
  margin-left: 20px;
}

.header-menuNav ul {
  display: flex;
  flex-direction: row;
  margin-left: -5px;
}

.header-menuItem {
  margin-left: 50px;
  list-style: none;
}

.header-menuItem a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 11pt;
}

.header-menuItem a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -5px;
  background-color: #000;
  transition: 0.3s;
}

.header-menuItem a:hover::after {
  width: 100%;
}

.login-btn {
  padding: 13px 28px;
  border-radius: 80px;
  font-size: 10pt;
  margin-right: 10px;
  cursor: pointer;
}

.signInBtn {
  background-color: #fff;
}

.signUpBtn {
  background-color: #000;
  color: #fff;
}
/* CLOSE HEADER */
/* HERO CONTENT */
.heroContent-text {
  width: 400px;
  margin: 180px 210px;
}

.n1-app {
  justify-content: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 4px 10px;
  display: flex;
  width: 120px;
  margin-bottom: 10px;
  cursor: default;
}

.heroContent-text h1 {
  font-weight: 500;
  font-size: 28pt;
}

.heroContent-text p {
  margin-top: 10px;
  font-size: 10pt;
}

.heroContent-email {
  margin: -150px 210px;
}

.heroContent-email input[type='email'] {
  padding: 8px 50px 8px 20px;
  border-radius: 20px;
  margin-left: -4px;
  border: 1px solid;
  position: relative;
}

.heroContent-email input[type='email']:focus {
  outline: none;
}

.heroContent-email input[type='button'] {
  position: absolute;
  background-color: #000;
  color: #fff;
  margin-left: -30px;
  padding: 7px;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: pointer;
}

.heroContent img {
  position: absolute;
  width: 500px;
  margin: -230px 60rem;
}
/* CLOSE HERO CONTENT */
/* How It Works */
.howWorks img {
  position: absolute;
  width: 800px;
  margin-top: -60px;
  margin-left: 10px;
}

.howWorks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: default;
  margin-top: 36rem;
}

.howWorks h1 {
  margin-left: 23px;
  font-size: 16pt;
}

.howWorks .cards{
  display: flex;
  padding: 40px;
  width: 80%;
}

.stepCard {
  font-size: 13pt;
  margin: 0 60px;
}

.stepCard div {
  position: relative;
  background-color: #000;
  color: #fff;
  font-size: 10pt;
  height: 20px;
  width: 20px;
  padding: 14px;
  border-radius: 50%;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.stepCard h4 {
  font-size: 14pt;
  margin-bottom: 6px;
}
/* Close HIW */

/* Benefits */
.benefits {
  cursor: default;
}

.benefits-text {
  margin-top: 180px;
  margin-left: 18rem;
}

.benefits-text h1 {
  font-weight: 500;
  font-size: 24pt;
}

.benefits-text li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.benefits img {
  margin-top: -30rem;
  margin-left: 60rem;
}

.benefitsBtn {
  background-color: #000;
  color: #fff;
  padding: 13px 28px;
  border-radius: 80px;
  font-size: 10pt;
  margin-right: 10px;
  cursor: pointer;
}
/* Close Benefits */

/* Why Our Service? */
.whyUs-mainText {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-left: 140px;
  width: 600px;
  width: 36rem;
  font-size: 14pt;
  padding: 10px;
}

.numericData {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  width: 86%;
  text-align: center;
  margin-top: 20px;
  margin-left: -10px;
}

.numericData article {
  width: 100%;
}

.numericData article h4 {
  padding: 8px;
  font-size: 18pt;
  margin: 0 30px;
}

.numericData article p { 
  font-size: 12pt;
}

.whyUs-list ul {
  position: absolute;
  margin: -170px 700px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.whyUs-list li {
  list-style: inside;
  border-right: 1px solid #ccc;
  font-size: 13pt;
  padding: 10px 20px;
  margin-bottom: 30px;
}
/* Close WOS */

/* Plans */
.pricingText {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12pt;
  margin-top: 120px;
  gap: 10px;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0;
}

.planCard {
  width: 300px;
  height: 400px;
  list-style: inside;
  padding: 30px 20px;
}

.planText {
  font-size: 12pt;
  padding: 20px;
}

.planText h3 {
  font-size: 16pt;
  text-align: center;
}

.planText h5 {
  font-size: 12pt;
  text-align: center;
}

.price {
  font-size: 30pt;
  text-align: center;
}

.price label {
  font-size: 12pt;
}

.planText ul {
  margin-top: 40px;
  margin-left: 20px;
  list-style-image: url(img/check.png);
}

.planText ul li {
  padding-bottom: 10px;
}

.planCard input {
  padding: 14px;
  border-radius: 50px;
  margin-left: 8rem;
}

.basicPlan input, 
.premiumPlan input {
  background-color: #252525;
  color: #fff;
  border: 1px solid;
  cursor: pointer;
}

.standardPlan {
  background-color: #252525;
  color: #fff;
  border-radius: 10px;
  margin: 0 -100px;
}

.standardPlan input {
  background-color: #fff;
  color: #505050;
  border: 1px solid;
  cursor: pointer;
}
/* Close Plans */